button {
  margin: auto;
  padding: 5px;
}

ion-grid {
  padding: 5px 5px 10px 5px;
}

.forget {
  ion-label {
    margin: 0;
  }
}

ion-list {
  padding: 0px;
}

.span{
  background-color: #05062d;
  padding: 10px 14px;
}
