<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <ion-list>
      <ion-item>
        <ion-label type="email">Email: </ion-label>
        <ion-input placeholder="insira seu email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha: </ion-label>
        <ion-input placeholder="insira sua senha" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="center">
      <ion-button routerLink="/tabs/tab1">entrar</ion-button>
      <ion-button>esqueceu a senha</ion-button>
      <ion-button routerLink="/registro">registrar</ion-button>
      <ion-button routerLink="/tabs/tab1">voltar</ion-button>
    </div>
  </div>
</ion-content>
