// ion-tab-bar{
//   margin: 10px;
//   border-radius: 20px;
//   background-: #05062d;
//   border:
// }

ion-tab-bar{
  margin: 5px;
  border-radius: 30px;
  background-color: #05062d;
}

.gradient-box {

  // display: flex;
  // align-items: center;
  //width: 50vw;
  // width: 90%;
  // margin: auto;
  // max-width: 22em;

  // position: relative;
  // padding: 30% 2em;
  // box-sizing: border-box;

  $border: 2px;
  color: #FFF;
  background: linear-gradient(144deg, #fc0e0e, #e63119, #f5851c, #fab12a);
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 35px;
  margin:10px;
}
