<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="corpo">
    <div class="center">
      <!-- <ion-button routerLink="/login">login</ion-button>
      <ion-button routerLink="/registro">registro</ion-button> -->

      <button class="button-64" role="button"  routerLink="/login">
        <span class="text">Login</span>
      </button>
      <button class="button-64" role="button"  routerLink="/registro">
        <span class="text">Registro</span>
      </button>
    </div>
  </div>
</ion-content>
