<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="corpo">

    <div>
      <h2 class="center">Seja bem-vindo</h2>
      <ion-grid>
        <ion-row cclass="ion-justify-content-around">
          <ion-col ize="12" size-sm>
            <button class="button-64" role="button" routerLink="/login">
              <span class="text">Login</span>
            </button>
          </ion-col>
          <ion-col ize="12" size-sm>
            <button class="button-64" role="button" routerLink="/registro">
              <span class="text">Registrar</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
