<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corpo">
    <ion-list>
      <ion-item>
        <ion-label type="name">Nome: </ion-label>
        <ion-input placeholder="insira seu nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label type="">CPF: </ion-label>
        <ion-input placeholder="XXX-XXX-XXX-XX"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label type="email">Email: </ion-label>
        <ion-input placeholder="insira seu email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha: </ion-label>
        <ion-input placeholder="insira sua senha" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Confirmar senha: </ion-label>
        <ion-input placeholder="insira sua senha" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="center">
      <ion-button routerLink="/tabs/tab1">salvar</ion-button>
      <ion-button routerLink="/tabs/tab1">Voltar</ion-button>
    </div>
  </div>
</ion-content>
